
/* Style all sidebars */

.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 90px;
  left: 0;
  background-color: white;
  z-index: 200;
  padding-bottom: 5px;
  cursor: pointer;
}

.sidebar-icons {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-icons:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-icons img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-icons div {
  font-size: 12px;
  font-family: roboto, arial;

}